<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-item line="none">
    <ion-label style="font-weight: 800; font-size: 3em;">
      Today
        <p style="font-weight: 400; color: rgb(0, 8, 77);">{{today | date:'fullDate'}}</p>
    </ion-label>
   </ion-item>
  </ion-toolbar>
</ion-h eader>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of todoList">
    <ion-card-header>
      <ionn-card-suttitle [style.color]="item.itemPriority === 'high' ? 'red' : (item.itemPriority === 'low' ? 'green' : 'orange' )">
        {{item.itemCategory}}
      </ionn-card-suttitle>
      <ion-item>
        <ion-icon *ngIf="item.itemPriority === 'high' " color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.itemPriority === 'middle'" color="orange" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.itemPriority === 'low'" color="success" size="small" name="ellipse"></ion-icon>
        
        <ion-label>{{item.itemName}}</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-label>Due {{item.itemDueDate | date: 'fullDate'}}</ion-label>
    </ion-card-content>

  </ion-card>
</ion-content>
